<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <link type="text/css" rel="stylesheet" href="/public/css/404.css">
</head>

<body id = "grad">
	<div class = "container">
		<h1>404</h1>
		<h2>Page not found</h2>
		<br>
		<a href="/">Go back to homepage</a>
	</div>
</body>
</html>