
<% include ../partials/layout %>
<% include ../partials/navbar %>
<style>
h2{
	text-align: center;
}
.row{
		padding: 10px 60px;
}
</style>
<div class = "container">	
		<div class= "card">
			<h2>Degree Requirements</h2>
			<p>
			1. Completion of at least thirty credits at the graduate level (500 level and above), with a minimum grade of C and a minimum GPA of 3.00.
			</p>
			<p>
			2. At least twenty-one credits must be from computer science courses, identified by the CS prefix.
			</p>
			<p>
			3. At least three of the courses must be core course.
			</p>
			<p>
			4. The remaining nine credits can be from computer science or any other disciplines.	
			</p>
			<p>For more detail information, please visit: 		<a href = "https://www.stevens.edu/schaefer-school-engineering-science/departments/computer-science/graduate-programs/computer-science-masters-program/curriculum-overview">
			Computer Science Curriculum Overview
			</a></p>
			<div class="row">
					<a href="/form1" class ="btn btn-primary btn-block">Start Making your study plan</a>
				</div>
				<div class="row">
					<a href="/profile" class ="btn btn-primary btn-block">change Profile</a>
				</div>
			</div>
		</div>
</div>
