<% include ../partials/layout %>
<% include ../partials/navbar %>
<link type="text/css" rel="stylesheet" href="/public/css/login.css">
	<div class="container">
      <img id="stevens-logo" class="center-block" src="/public/images/stevens_logo.png" />
        <div class="card card-container">
      <h3 class="title" style="text-align:center;">
            Change your password
        </h3>
        <hr>
       <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
        <% } %>
            <form action = "/passwords" method = "post" class="form-signup">
              <label>Old Password</label>
            	<input name ="oldPassword" type="password" id="oldPassword" class="form-control" placeholder="Enter your old password" required>
              <label>New Password</label>
                <input name ="password" type="password" id="inputPassword" class="form-control" placeholder="Enter new password" required>
                <label>Confirm Password</label>
                <input name ="password2" type="password" id="inputPassword2" class="form-control" placeholder="Confirm your password" required onChange = "checkPasswordMatch()">
                <div class ="registraionFormAlert", id ="warnning" style="color:red">
                </div>
                <hr>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Change Password</button>
            </form><!-- /form -->
            </div><!-- /card-container -->
    </div><!-- /container -->

<script>
	function checkPasswordMatch() {
	    var password = $("#inputPassword").val();
	    var confirmPassword = $("#inputPassword2").val();
	    if (password != confirmPassword)
	        $("#warnning").html("These passwords don't match");
	    else
	        $("#warnning").html("");
	}

	$(document).ready(function () {
	   $("#inputPassword2").keyup(checkPasswordMatch);
	});

</script>


